extends layout

block content
  h1= title
  p Welcome to #{title}
  hr
  if contacts.length > 0
    #contacts-wrapper 
      ul.contacts-list 
        each val in contacts 
          li(data-contactid=val.id)= val.text 
