extends layout

block content
  h1= title
  p Use the form below to add a contact.
  hr
  if msg 
    p(class='redtext')= msg
  form(method='POST', action='/contacts/add')
    input(type='text', name='contactsText')
    | 
    button(type='submit') Create Contact 
    | 
    a(href='/contacts') Cancel 
